<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="icon.png" type="Tachyon"/>
  <title>Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
  <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="/explore">Rainfed Agriculture Dashboard</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if request.path == '/explore'%}class="active disabled"{% endif %}><a href="/explore">Explore</a></li>
        <li {% if request.path == '/'%}class="active"{% endif %}><a href="/?col=TOT_P&dataset=census">Map <span class="sr-only">(current)</span></a></li>
        <li><a href="http://climate.indiarainfedportal.org">Climate Portal</a></li>
        <li><a href="http://village.indiarainfedportal.org">Village Analytics</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
      {% if boxes != None %}
      <div class="flex-container">
        {% for box in boxes %}
        <div
          class="flex-item"
          style="background: linear-gradient(to bottom, rgba(10,10,10,.6), rgba(10,10,10,.6)), url('{{ box.img }}'); background-size: cover;"
          data-href="{{ box.url }}">
          <p style="text-transform: uppercase;">{{ box.name }}</p>
        </div>
        {% endfor %}
      </div>
      {% else %}
        <h2>No data found!</h2>
      {% endif %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(function() {
  $('body').on('click', '.flex-item', function() {
    window.location = $(this).attr('data-href');
  })
})
</script>

</body>
</html>