<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="icon.png" type="Tachyon"/>
  <title>Mapping Portal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
  <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.3/css/bootstrap-tour.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <style>
    .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand tour-map" href="/explore">Rainfed Agriculture Dashboard</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="tour-explore" href="/explore">Explore</a></li>
        <li class="active disabled"><a href="/">Map <span class="sr-only">(current)</span></a></li>
        <li>
          <form class="navbar-form tour-search" role="search">
            <div class="form-group">
              <input type="text" id="typeahead-col" class="form-control" placeholder="Search variable...">
            </div>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown tour-dropdown">
          <a href="#" class="dropdown-toggle dataMetric" data-toggle="dropdown" role="button" aria-expanded="false">Selected metric - {{variables[variables.varname == selected_col].filename.iloc[0] }}: {{ variables[variables.varname == selected_col].description.iloc[0] }} <span class="caret"></span></a>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            {% for i, row in variables.iterrows() %}
              <li><a href="?col={{row.varname}}&dataset={{row.filename}}" >{{ row.filename }}: {{ row.varname }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-cloud-download fa-2x data-download" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-question-circle fa-2x tour-help" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Map
            <span class="pull-right fa fa-refresh reload"></span>
            <span class="pull-right nodata" style="display: none;"></span>
            <span class="pull-right loading-subdistrict" style="display:none;">Fetching Subdistricts please wait... &nbsp;</span>
            <span class="pull-right customTooltip">
              <script type="text/html" class="tooltipTemplate">
                <div class="tooltip-well">
                  <span class="tootlip-value"><%= value %></span>
                </div>
              </script>
            </span>
          </h3>
        </div>
        <div class="panel-body tour-map-visual">
          <div id="topojson-color-map" class="map"></div>
        </div>
      </div>
      <div>
        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 400 40">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
              <stop offset="50%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
              <stop offset="100%" style="stop-color:rgb(12,109,2);stop-opacity:1" />
            </linearGradient>
          </defs>
          <rect x="20" y="0" width="360" height="14" fill="url(#grad1)" />
          <text class="mintext" text-anchor="start" fill="#fff" font-size="12" x="25" y="11">min</text>
          <g transform="translate(375, 11)">
            <text class="maxtext" text-anchor="end" fill="#fff" font-size="12" x="0" y="0">max</text>
          </g>
        </svg>
      </div>
    </div>

    <div class="col-md-5 districtTable tour-main-table">
      <script type="text/html" class="tableTemplate">
            <table class="table">
              <thead>
                <tr>
                  <th><%= placename%></th>
                  <th><%= $('.dataMetric').text().split('Selected metric: ')[1] %></th>
                </tr>
              </thead>
              <tbody>
                <%
                  function getLat(stcode) {
                    for(i = 0; i < latlng.length; ++i) {
                      if (latlng[i].stcode == stcode) {
                        return latlng[i].lat;
                      }
                    }
                  }

                  function getLng(stcode) {
                    for(i = 0; i < latlng.length; ++i) {
                      if (latlng[i].stcode == stcode) {
                        return latlng[i].lng;
                      }
                    }
                  }

                  function distltLg(dtcode) {
                    for(i = 0; i < distlatlng[0].length; ++i) {
                      if (distlatlng[0][i].censuscode == dtcode) {
                        return [distlatlng[0][i].lat, distlatlng[0][i].long];
                      }
                    }
                  }

                _.each(res, function(d) {
                  var dstname = d.ST_NM || d.state_name,
                      dstcode = d.ST_CEN_CD || d.state_cen_code || d.state_code;
                %>
                    <tr>
                      <% if (datatype == 'state') { %>
                        <td
                          class="state-click"
                          data-lat="<%= getLat(dstcode) %>"
                          data-lng="<%= getLng(dstcode) %>"
                          data-statename="<%= dstname %>"
                          data-stcode="<%= dstcode %>"
                        >
                        <%= dstname %>
                        </td>
                      <% } else if (datatype == 'district'){ %>
                        <td class="district-click"
                          data-lat="<%= distltLg(d.district_code)[0]%>"
                          data-lng="<%= distltLg(d.district_code)[1]%>"
                          data-distname="<%= d.district_name%>"
                          data-dtcode="<%= d.district_code%>"
                        ><%= d.district_name %></td>
                      <% } else if (datatype == 'subdistrict'){ %>
                        <td class="subdistrict-click"
                          data-subdistname="<%= d.subdistrict_name%>"
                          data-subdtcode="<%= d.subdistrict_code%>"
                        >
                        <%= d.subdistrict_name %>
                        </td>
                      <% } else { %>
                        <td class="village-noclick">
                        <%= d[Object.keys(d)[3]] %>
                        </td>
                      <% } %>
                      <td>
                      <%= numbro(d.{{ selected_col }}).format('0,0') %></td>
                    </tr>
                <% }) %>
              </tbody>
            </table>
      </script>
    </div>
  </div>
</div>

<!-- Dependent JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.3/js/bootstrap-tour.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.5/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/numbro/1.7.1/numbro.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.js"></script>

<script>
var dataset = '{{ dataset }}';
var currQuery = `/${dataset}/state?col={{ selected_col }}`;

function getParameterByName(name) {
  url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var cols = [];
{% for i, row in variables.iterrows() %}
  cols.push({
    "name": "{{ ' '.join(row.filename.split('_')).title() }}: {{ row.description }}",
    "col": "{{ row.varname }}",
    "dataset": "{{ row.filename }}"
  });
{% endfor %}

$(function() {
  $("#typeahead-col").typeahead({
      source:cols,
      updater:function (item) {
        dataset = item.dataset;
        window.location.search = `?col=${item.col}&dataset=${item.dataset}`;
        return item;
      }
  });
})

// Reload Page and Map
$('.reload').on('click', function() {
  window.location.reload()
})

//Store Template as variable to re-use it.
var _template_fn = $("script.tableTemplate").html()
var _template_tp = $("script.tooltipTemplate").html()

// Define Leaflet Map
var topojson_color_map = L.map('topojson-color-map').setView([24, 82], 4);
L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
  subdomains: 'abcd',
  maxZoom: 19
}).addTo(topojson_color_map);

var latlng = [];
d3.csv("{{ url_for('static', filename='latlng.csv') }}", function(d) {
  latlng.push(d);
})

var distlatlng = [];
d3.csv("{{ url_for('static', filename='distlatlng.csv') }}", function(d) {
  distlatlng.push(d);
})

console.log(`/${dataset}/state?col={{selected_col}}`)

d3.json(`/${dataset}/state?col={{selected_col}}`, function(json) {
  datum = json.data
  datarr = datum.map(function(d){ return d['{{ selected_col }}'] })

  var min = d3.min(datarr),
      mid = d3.mean(datarr),
      max = d3.max(datarr);

  d3.select('.mintext').text(min.toFixed(2))
  d3.select('.maxtext').text(max.toFixed(2))

  var color = d3.scale.linear()
    .domain([min, mid, max])
    .range(["red", "yellow", "green"]);

  stateTemplate(datum, latlng[0])

  $.getJSON("{{ url_for('static', filename='state.topo.json') }}", function(topo) {
    var geojson = topojson.feature(topo, topo.objects[Object.keys(topo.objects)[0]]);
    L.geoJson(geojson, {
      style: function(feature){
        var clr = color(getValueForFeature(datum, feature));
        return { color: clr, weight: '2px'}
      },
      onEachFeature: function (feature, layer) {
        layer.on({
          mouseover: function(e){
            customTooltip(feature.properties.stat_nm, layer, getValueForFeature(datum, feature));
          },
          mouseout: mouseOut,
          click: function(e) {
            districtData(feature.properties.stat_nm, feature.properties.state_d, e.latlng.lat, e.latlng.lng);
          },
        });
      }
    }).addTo(topojson_color_map);
  });
})

function getValueForFeature(data, feature) {
  var temp;
  data.forEach(function(d){
    if(d['state_code'] == feature.properties.state_d) {
      temp = d;
    }
  })
  return temp["{{ selected_col }}"]
}

function mouseOut() {
  $('.tootlip-value').hide()
}

function customTooltip(place, layer, value){
  var colname = "{{ selected_col }}"
  template = _.template(_template_tp);
  resultingTooltip = template({
    value: `${place} : ${numbro(value).format('0,0')}`,
    colname: colname
  });
  $('.customTooltip').html(resultingTooltip);
}

function stateTemplate(datum, latlng) {
  template = _.template(_template_fn);
  resultingHTML = template({res: datum, latlng: latlng, datatype: 'state', placename: 'India States'})
  $('.districtTable').html(resultingHTML)
  var _datatable = $('.table').DataTable({
    "language": {
      "search": "Search place:"
    }
  });

  $(".table").on("click", ".state-click",  function() {
    var statename  = $(this).attr('data-statename'),
        stcode  = $(this).attr('data-stcode'),
        lat     = $(this).attr('data-lat'),
        lng     = $(this).attr('data-lng');
    districtData(statename, stcode, lat, lng);
  });
}

function districtData(placename, placeid, lat, lng) {
  $('.nodata').hide()
  // Loads data for given district and creates color scheme for all districts
  // which is "result" variable used to color ecah district feature
  // var search = URI(window.location.search).addSearch("state", placeid);

  _url = "?col={{selected_col}}&state="+placeid
  currQuery = `/${dataset}/district` + _url;

  d3.json(`/${dataset}/district` + _url, function(datum) {
    datum = datum.data

    // District Table template render.
    template = _.template(_template_fn);
    resultingHTML = template({res: datum, datatype: 'district', placename: `${placename} Districts`});
    $('.districtTable').html(resultingHTML);
    $('.table').DataTable( {
      "language": {
        "search": "Search place:"
      }
    });

    $(".table").on("click", ".district-click",  function() {
      var districtname = $(this).attr('data-distname'),
          dtcode = $(this).attr('data-dtcode'),
          dtlat = $(this).attr('data-lat'),
          dtlng = $(this).attr('data-lng');
      subdistrictData(districtname, dtcode, dtlat, dtlng)
    })


    var values = datum.map(function(each){ return each["{{ selected_col }}"] });
    var districtColor = d3.scale.linear()
                  .domain([d3.min(values), d3.mean(values), d3.max(values)])
                  .range(["red", "yellow", "green"]);

    result = {};
    dataResult = {};

    datum.forEach(function(d){
      result[d[`district_code`]] = districtColor(d[`{{ selected_col }}`]);
      dataResult[d[`district_code`]] = d[`{{ selected_col }}`];
    });

    var imin = _.min(_.values(dataResult))
    var imax = _.max(_.values(dataResult))
    d3.select('.mintext').text(imin.toFixed(2))
    d3.select('.maxtext').text(imax.toFixed(2))

    drawDistrict(placename, placeid, lat, lng, result, dataResult);
  })
}


var currsubdistlayer;

function subdistrictData(placename, placeid, lat, lng) {
  $('.loading-subdistrict').show()
  $( document.body ).css( 'pointer-events', 'none' );
  // Loads data for given district and creates color scheme for all districts
  // which is "result" variable used to color ecah district feature
  // var search = URI(window.location.search).addSearch("district", placeid);

  _url = "?col={{selected_col}}&district="+placeid
  currQuery = `/${dataset}/subdistrict` + _url

  d3.json(`/${dataset}/subdistrict` + _url, function(datum) {
    datum = datum.data

    // District Table template render.
    template = _.template(_template_fn);
    resultingHTML = template({res: datum, datatype: 'subdistrict', placename: `${placename} Subdistricts`});
    $('.districtTable').html(resultingHTML);
    $('.table').DataTable( {
      "language": {
        "search": "Search place:"
      }
    });
    $(".table").on("click", ".subdistrict-click",  function() {
      var subdistrictname = $(this).attr('data-subdistname'),
          subdtcode = $(this).attr('data-subdtcode');
      prevSelectedDist.eachLayer(function(l){
        if(l.feature.properties.subdist_co == subdtcode){
          if (currsubdistlayer !== undefined) {
            currsubdistlayer.setStyle({
              color: 'white',
              dashArray: '1',
              fillOpacity: 0.7
            })
          }
          currsubdistlayer = l;
          l.setStyle({
            color: '#000',
            dashArray: '5',
            fillOpacity: 0.4
          })
          villageData(subdistrictname, subdtcode, null, null)
        }
      })
    })

    if (datum === undefined) {
      $('.loading-subdistrict').hide()
      $( document.body ).css( 'pointer-events', 'all' );
      $('.nodata').html(`${placename}: No Data`)
      $('.nodata').show()
    } else {
      $('.nodata').hide()
      var values = datum.map(function(each){ return each["{{ selected_col }}"] });
      var subdistrictColor = d3.scale.linear()
                    .domain([d3.min(values), d3.mean(values), d3.max(values)])
                    .range(["red", "yellow", "green"]);

      result = {};
      dataResult = {};
      datum.forEach(function(d){
        result[d[`subdistrict_code`]] = districtColor(d[`{{ selected_col }}`]);
        dataResult[d[`subdistrict_code`]] = d[`{{ selected_col }}`];
      });

      var imin = _.min(_.values(dataResult))
      var imax = _.max(_.values(dataResult))
      d3.select('.mintext').text(imin.toFixed(2))
      d3.select('.maxtext').text(imax.toFixed(2))

      drawSubdistrict(placename, placeid, lat, lng, result, dataResult);
    }
  })
}

var prevSelectedState;
var prevSelectedDist;

function drawDistrict(placename, placeid, lat, lng, result, dataResult) {
  if (prevSelectedState !== undefined) {
    prevSelectedState.clearLayers()
  }
  if (prevSelectedDist !== undefined) {
    prevSelectedDist.clearLayers()
  }
  // Draws a district level shapes for selected State.
  topojson_color_map.setView([lat, lng], 6);
  $.getJSON("{{ url_for('static', filename='district.topo.json') }}", function(topo) {
    x = topo.objects[Object.keys(topo.objects)[0]];
    y = x["geometries"].map(function(d){ return d.properties.ST_CEN_CD == placeid ? d : false });
    y = y.filter(function(e){ return e });
    x.geometries = y;
    var geojson = topojson.feature(topo, x);
    var currState = L.geoJson(geojson, {
      style: function(feature) {
          return {
              color: result[feature.properties.censuscode],
              weight: '1.5px',
              fillOpacity: '0.8'
          }
        },
      onEachFeature: function(feature, layer) {
        layer.on({
            mouseover: function(e){
              var tempdistval = dataResult[feature.properties.censuscode]
              customTooltip(feature.properties.DISTRICT, layer, tempdistval);
            },
            mouseout: mouseOut,
            click: function(e){
              subdistrictData(feature.properties.DISTRICT, feature.properties.censuscode, e.latlng.lat, e.latlng.lng)
            }
        });
      }
    }).addTo(topojson_color_map);
    prevSelectedState = currState;
  });
}

function drawSubdistrict(placename, placeid, lat, lng, result, dataResult) {
  prevSelectedState.setStyle(function(feature){
    return {fillOpacity: '0.8'}
  })

  if (prevSelectedDist !== undefined) {
    prevSelectedDist.clearLayers()
  }
  // Draws a district level shapes for selected State.
  topojson_color_map.setView([lat, lng], 9);
  $.getJSON(`/subdistmap?code=${placeid}`, function(topo) {
    $('.loading-subdistrict').hide()
    $( document.body ).css( 'pointer-events', 'all' );
    prevSelectedState.setStyle(function(feature){ return {fillOpacity: '0.4'} })
    x = topo.objects[Object.keys(topo.objects)]
    var geojson = topojson.feature(topo, x);
    var currDist = L.geoJson(geojson, {
      style: function(feature) {
        return {
          fillColor: result[feature.properties.subdist_co],
          weight: 3,
          opacity: 1,
          color: 'white',
          dashArray: '1',
          fillOpacity: 0.7
        }
      },
      onEachFeature: function(feature, layer) {
        layer.on({
            mouseover: function(e){
              var tempsubdistval = dataResult[feature.properties.subdist_co]
              customTooltip(feature.properties.NAME, layer, tempsubdistval);
            },
            mouseout: mouseOut,
            click: function(e){
              if (currsubdistlayer !== undefined) {
                currsubdistlayer.setStyle({
                  color: 'white',
                  dashArray: '1',
                  fillOpacity: 0.7
                })
              }
              currsubdistlayer = layer;
              layer.setStyle({
                color: '#000',
                dashArray: '5',
                fillOpacity: 0.4
              })
              villageData(feature.properties.NAME, feature.properties.subdist_co, e.latlng.lat, e.latlng.lng)
            }
        });
      }
    }).addTo(topojson_color_map);
    prevSelectedDist = currDist;
  });
}

function villageData(placename, placeid, lat, lng) {
  // Loads data for given district and creates color scheme for all districts
  // which is "result" variable used to color ecah district feature
  // var search = URI(window.location.search).addSearch("subdistrict", placeid);

  _url = "?col={{selected_col}}&subdistrict="+placeid
  currQuery = `/${dataset}/village` + _url

  d3.json(`/${dataset}/village` + _url, function(datum) {
    datum = datum.data
    // Village Table template render.
    template = _.template(_template_fn);
    resultingHTML = template({res: datum, datatype: 'village', placename: `${placename} Villages`});
    $('.districtTable').html(resultingHTML);
    $('.table').DataTable( {
      "language": {
        "search": "Search place:"
      }
    });
  })
}

// Download handler
$('.data-download').on('click', function(){
 window.location.assign(`/download${currQuery}`);
})

// Application Tour
$('.tour-help').on('click', function(){
  var t = new Tour({
    animation: true,
    duration: "5000",
    onShown: function(tour) {
      var stepElement = getTourElement(tour);
      $(stepElement).after($('.tour-step-background'));
      $(stepElement).after($('.tour-backdrop'));
    },
    steps: [
      {
        element: ".tour-map",
        title: "About Mapping Portal",
        backdrop: false,
        content: "<p>The Mapping Portal allows the user to arrive at standardized variables through an interactive choropleth Map and Frequency Histogram Legend. The map changes according to the requirement of the user, by selecting various spatial categories. The pan India map displays all the states, which can further be zoomed to view district, sub-district and village categories.</p><p>The Mapping Portal has a list of selected metrics to be chosen from according to the need of the user. The metrics are arrived at using the primary and secondary data sets available on the portal. An updating of the data sets will consequently lead to an expanded set of parameters available to the users to explore.</p>",
        placement: "bottom"
      },
      {
        element: ".tour-explore",
        title: "Nav to Main page",
        backdrop: false,
        content: "<p>The Explore Function ties the entire experience together by providing an easy and fuss free way to sort through data sets, and look at a particular variable across a hierarchy of spatial levels. By clicking on the Explore button available on the dashboard, a Search Engine opens up to explore through the available data sets. The Search Engine skims through the data sets for the variables required by the user.</p>",
        placement: "bottom"
      },
      {
        element: ".tour-search",
        title: "Filter Options",
        backdrop: false,
        content: "<p>User an type the keyword into search engine, the portal would explore the data sets available on it to come up with information related to or containing the concerned keywords</p>",
        placement: "bottom"
      },
      {
        element: ".tour-dropdown",
        title: "Filter Options",
        backdrop: false,
        content: "<p>By clicking on the button, various parameters available to the user are presented. The home page shows irrigated area in the country and its distribution across various states on a choropleth map and frequency histogram.</p>",
        placement: "bottom"
      },
      {
        element: ".tour-map-visual",
        title: "Main Visual",
        backdrop: false,
        content: "<p>The choropleth map uses colors as legends to understand the spatial and statistical distributions of various metrics on the Mapping Portal.  The Frequency Histogram Legend below the map displays the statistics of the mapped data for the convenience of the user.</p><p><b>Spatial levels</b></p><p>. The Spatial levels can be zoomed down state level onwards to District level to get accurate data for every spatial zone as well as make comparisons. </p>",
        placement: "top"
      },
      {
        element: ".tour-main-table",
        title: "Table",
        backdrop: false,
        content: "<p>The numerical value of the statistical distribution in Frequency Histogram and choropleth map is shown in a tabular manner in a chart to the right of the Map.</p><p>The user may select the metric of interest, for example, Percentage of houses having good condition. Through, real time analysis of the data sets available, a choropleth map loads showing pan India percentage of houses having good conditions via colour legends. </p>",
        placement: "top"
      }
    ]
  }).restart();
  function getTourElement(tour){
      return tour._options.steps[tour._current].element;
  }
})
</script>
</body>
</html>